<div class="container">
    <ng-container [ngSwitch]="activeLayout">
        <ng-container *ngSwitchCase="'videoFeed'">
            <ng-container *ngTemplateOutlet="videoFeed"></ng-container>
        </ng-container>
        <ng-container *ngSwitchCase="'videoPlayer'">
            <ng-container *ngTemplateOutlet="videoPlayer"></ng-container>
        </ng-container>
    </ng-container>
</div>
<ng-template #videoPlayer>
    <div class="content-container" *ngIf="selectedVideo$ | async as video">
        <app-video-player [video]="video"></app-video-player>
    </div>
</ng-template>
<ng-template #videoFeed>
    <ng-container *ngIf="(items$ | async)?.length">
        <div class="search-box-container">
            <app-search-bar
                [placeholder]="'What are you looking for today?'"
                [size]="'default'"
                [form]="searchForm"
            ></app-search-bar>
        </div>
        <div class="content-container">
            <ng-container *ngFor="let item of items$ | async as items">
                <app-video-tile
                    [item]="item"
                    (videoSelected)="onVideoSelected($event)"
                ></app-video-tile>
            </ng-container>
        </div>
        <div class="pagination-wrapper">
            <nz-pagination
                [nzPageIndex]="(pagination$ | async)?.page"
                [nzTotal]="(metadata$ | async)?.count"
                [nzPageSize]="12"
                [nzShowTotal]="totalTemplate"
                (nzPageIndexChange)="changePage($event)"
            ></nz-pagination>
            <ng-template #totalTemplate let-total>
                Total {{ (metadata$ | async)?.count | number: '1.0-0' }} items
            </ng-template>
        </div>
    </ng-container>
</ng-template>
