.content-container {
    padding-top: 50px;
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.player-container {
    padding-top: 75px;
}

.search-box-container {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    padding: 0 30px;
    margin-top: 75px;
}
